<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Livros</title>
</head>
<body>
    <table>
    	<thead>
        	<tr>
            	<td><b>ID</b></td>
            	<td><b>NOME DO LIVRO</b> </td>
            	<td><b>CATEGORIA</b> </td>
        	</tr>
    	</thead>
    	<tbody>
        	<tr th:each="liv : ${lista}">
            	<td th:text="${liv.id}"></td>
            	<td th:text="${liv.nome}"></td>
            	<td th:text="${liv.categoria}"></td>
       		</tr>
     	</tbody>
    </table>
</body>
</html>